<div>
  <h1>Welcome to MusicGearShare</h1>

  <h2>Rent Gear</h2>

  <div>
    <p>Browser the listings, or use the form below to filter...</p>
    <input ng-model="ctrl.filter">
  </div>

  <div ng-repeat="gear in ctrl.gears | filter: ctrl.filter track by gear.id ">
    <div class="line-dark"></div>
    <div>
    <h3 class="gear_title">{{gear.name}}</h3>
      <a class="btn btn-md btn-primary gear_button" ng-controller="MessagesController as msgCtrl" href="" ng-click="msgCtrl.sendMessage(gear.user.id)">Rent This Gear</a>
    </div>
    <p>{{gear.description}}</p>
    <p>Rental Fee: {{gear.rental_fee}}</p>
    
  </div>

</div>