<div>
  <h2>My Gear</h2>

  <a href="" ui-sref="my-gear.add" ui-sref-active="active">Add Gear</a>

  <ui-view></ui-view>

  <div>
    <p>Search the gear listings...</p>
    <input ng-model="ctrl.filter">
  </div>

  <div ng-repeat="gear in ctrl.gears | filter: ctrl.filter track by gear.id " ng-class="{ 'has-error' : gearFieldForm.gear_type.$invalid }">
    <h3>{{gear.gear_type}}</h3>
    <form name="gearFieldForm_{{$index}}" ng-submit="ctrl.updateGear(gear)" >
    <ng-form name="gearFieldForm">
      <label for="gear_type">Gear Type:</label>
      <input ng-model="ctrl.gears[$index].gear_type" name="gear_type"  required="required"></input>
      <p class="help-block" ng-show="gearFieldForm.gear_type.$invalid">Valid Gear Type Required</p>
      <div ng-messages="gearFieldForm.gear_type.$error" >
        <div ng-message="required">Gear Type is required!!!!</div>
      </div>
      <input type="submit" value="Update Gear">
    </ng-form>
    </form>
    <form ng-submit="ctrl.deleteGear(gear)">
      <input type="submit" value="Delete">
    </form>
  </div>

</div>