<div>
  <h2>My Gear</h2>

  <div>
    <p>Search the gear listings...</p>
    <input ng-model="ctrl.filter">
  </div>

  <div ng-repeat="gear in ctrl.gears | filter: ctrl.filter track by gear.id ">
    <h3>{{gear.gear_type}}</h3>
    <form ng-submit="ctrl.updateGear(gear)">
      <label for="content">Content:</label>
      <input ng-model="ctrl.gears[$index].gear_type"></input>
      <input type="submit" value="Update Gear">
    </form>
    <form ng-submit="ctrl.deleteGear(gear)">
      <input type="submit" value="Delete">
    </form>
  </div>

</div>