<div>
  <h2>My Gear</h2>

  <a href="" ui-sref="my-gear.add" ui-sref-active="active">Add Gear</a>

  <ui-view></ui-view>

  <div>
    <p>Search the gear listings...</p>
    <input ng-model="ctrl.filter">
  </div>

  <div ng-repeat="gear in ctrl.gears | filter: ctrl.filter track by gear.id ">
    <h3>{{gear.gear_type}}</h3>
    <form ng-submit="ctrl.updateGear(gear)">
      <label for="content">Content:</label>
      <input ng-model="ctrl.gears[$index].gear_type"></input>
      <input type="submit" value="Update Gear">
    </form>
    <form ng-submit="ctrl.deleteGear(gear)">
      <input type="submit" value="Delete">
    </form>
  </div>

  <form name="gearForm" novalidate>

    <div class="form-group" ng-repeat="gear in ctrl.gears | filter: ctrl.filter track by gear.id " ng-class="{ 'has-error' : gearFieldForm.gear_type.$invalid }">
      <ng-form name="gearFieldForm">
        <label>{{ gear.gear+type }}</label>
        <input type="text" class="form-control" name="gear_type" ng-model="ctrl.gears[$index].gear_type" required>
        <p class="help-block" ng-show="gearFieldForm.gear_type.$invalid">Valid Gear Required</p>
      </ng-form>
    </div>

  </form>

</div>