<div>
  <h1>Music Gear Share - You're logged In!</h1>
  <div class="container">
  <ul>
    <li><a href="" ui-sref="home" ui-sref-active="active">Home</a></li>
    <li><a href="" ui-sref="gear" ui-sref-active="active">Gear</a></li>
  </ul>
    <ui-view > </ui-view>
  </div>
</div>

<div class="container">
  <%= link_to "Log Out", logout_path, method: :delete %>
</div> <!-- container end -->