
<div class="hero-filter">
  <div class="container">
    <h1>Music Gear, anytime, anywhere.</h1>
    <p><%= link_to "Log In", login_path %></p>
    <p><%= link_to "Sign Up", signup_path %></p>

  </div>
  <div class="hero">  
  </div>
</div>

<div class="home-block home-block-light">
  <div class="container">
    <h3>The Best Features</h3>

    
  </div>
</div>

<div class="home-block home-block-dark">
  <div class="container">


  </div>
</div>

<div class=" home-block home-block-light">
  <div class="container">
    <h3>What are you waiting for?</h3>

    
  </div>
</div>

<footer>
  <div class="container">
    <p>&copy; MusicGearShare 2016</p>
  </div>
</footer>
