<div class="hero-filter">
  <div class="container">
    <div class="text-block">
    <h1>Music gear, anytime, anywhere.</h1>
    <p><%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %>     <%= link_to "Login", login_path, class: "btn btn-lg btn-success" %></p>
    </div>
  </div>
  <div class="hero" id="main">  
  </div>
</div>

<div class="home-block home-block-dark">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h3>Share your gear</h3>
      </div>
      <div class="col-md-4">
        <h4>Browse</h4>
        <p>Browse our listings to find available gear. We don't charge any fees. </p>
      </div>
      <div class="col-md-4">
        <h4>Message</h4>
        <p>See something you like? Message the owner and get a conversation going! </p>
      </div>
      <div class="col-md-4">
        <h4>Share</h4>
        <p>Start sharing your gear. It's easy to borrow from other or share your own gear!  </p>
      </div>
    </div>

  </div>
</div>

<div class="hero-filter">
  <div class="container">
    <div class="text-block">
    <h3>The Best Features</h3>
    <p>We've made it easy to upload, browse, and share your gear with other people. We'll always be rolling out and testing new features to improve your experience!</p>
    </div>
  </div>
  <div class="hero" id="equipment">  
  </div>
</div>


<div class=" home-block home-block-light">
  <div class="container">
    <h3>What are you waiting for?</h3>
    <p><%= link_to "Sign Up", signup_path %> today to get started!</p>
  </div>
</div>