/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require sweetalert/dist/sweetalert.css
 */

@import "bootstrap-sprockets";
@import "bootstrap";

footer {
  padding: 40px 0px;
  margin-top: 0px;
  background-color: #333;
  color: #fff;
}

* {
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
  background-color: #efefef;
}

#wrapper {
  min-height: 100%;
}

.main {
  overflow:auto;
  padding-bottom:40px; /* this needs to be bigger than footer height*/
}

footer {
  position: relative;/* negative value of footer height */
  padding: 20px 0px;
  clear:both;
} 

.line-dark {
  border: 1px solid #999;
  width: 100%;
  margin: 30px 0px;
}

.navbar{
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-default {
  background-color: #555;
  border-color: #111;
  color: #fff;
  .navbar-brand {
    color: #fff;
  }
  .navbar-brand:hover, .navbar-brand:focus, .navbar-brand:active {
    color: #99aaff;
    background-color: transparent;
  }
  .navbar-nav > li > a {
    color: #fff;
  }
  .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:active {
    color: #99aaff;
  }
  .navbar-toggle {
    border: 2px solid #fff;
    border-color: #fff;
    .icon-bar {
      background-color: #fff;
    }
  }
  .navbar-toggle:hover, .navbar-toggle:focus {
    background-color: #99aaff;
    border-color: #99aaff;
  }
}

